.buildpath
.project
.settings
conf/db.conf.php
conf/de.metaventis.esrender.log4php.cachecleaner.properties
conf/esmain
conf/system.conf.php
conf/plugins.conf.php
install/_tmpl/log.php
log/conversion/*
!log/conversion/.gitignore
log/debug/*
log/scr/*
log/cacheCleaner.log
log/esrender.log
log/redirect.log
modules/moodle3/config.php
modules/video/config.php
modules/scorm12/config.php
.idea