@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
        background: url('../img/bg_dark.png');
        margin: 0;
        padding: 0;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 100%;
}

nav, section, footer {
        clear: both;
        display: block;
        padding: 10px 4%;
}

section {
        margin-top: 30px;
}

nav {
        margin-top: 20px;
}

a.action {
        border: 1px solid transparent;
        white-space: nowrap;
}

.license {
        clear: both;
        margin: 20px 0 0 0;
}

.license_icon {
    height: 16px;
}

.license_link {
    background: #fff;
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
    border-radius: 26px;
}

a.action, .license a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
}
a.action.back {
        margin-right: 40px;
        display: inline-block;
        padding: 10px 20px 10px 45px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #4d799a;
        background-image: url('../img/arrow_back.svg');
        background-repeat: no-repeat;
        background-position: 20px center;
}

a.license_permalink {
        text-decoration: underline;
}

p.edu_sharing_filename {
        clear: both;
}

a.action:active, .license a:active, a.action:focus, .license a:focus {
        outline: none;
}

#toggleView {
        display: inline-block;
        margin-top: 10px;
}

.edusharing_metadata_wrapper {
        display: none;
}

#edusharing_htmlobject {
        display: block;
        min-height: 400px;
        width: 100%;
        background: #fff;
        max-width: 1024px;
        margin: 0 auto;
        padding: 20px 40px;
}