@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600');

*, body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	padding: 0;
	margin: 0;
	height: auto !important;
}

.edusharing_rendering_cursor_pointer {
	cursor: pointer;
}

.edusharing_rendering_wrapper {
	background-color: #666;
	padding: 0;
	margin: 0;
	font-size: 100%;
	min-height: 100%;
}

#edusharing_rendering_metadata {
	background-color: #f6f6f6;
	padding-bottom: 30px;
}

img.edusharing_rendering_metadata_header_icon {
	height: 51px;
	width: 68px;
	margin: 10px -10px -10px 20px;
	cursor: pointer;
	float: left;
}

h1.edusharing_rendering_metadata_header_title {
	font-size: 130%;
	font-weight: 400;
	margin-top: 1.8rem;
	margin-left: 20px;
	float: left;
	max-width: 100%;
}

.edusharing_rendering_metadata_body {
	clear: both;
	display: flex;
	flex-wrap: nowrap;
}

.mdsGroup{
	flex: 1;
	padding: 0 20px;
}
.mdsCaption{
	background-color: #fff;
	border-bottom: 1px solid #000;
	padding: 15px 15px;
	font-size: 150%;
	height: 50px;
	margin-top: 30px;
	font-weight: 600;
	text-transform: uppercase;
}
.mdsWidgetCaption{
	display: block;
	font-style: italic;
	color: #6f6f6f;
	margin: 25px 0 0 15px;
}
.mdsWidgetContent > div{
	display: inline-block;
	margin: 7px 0 0 15px;
}
.mdsWidgetMultivalue > div{
	background-color: #DDDDDD;
	border-radius: 999px;
	padding: 3px 10px;
	margin-right: -10px;
}



/*not good*/
.mds_ccm_lifecyclecontributer_author > div {
	display: inline-block;
	font-style: italic;
	background-color: #DDDDDD;
	border-radius: 999px;
	padding: 3px 10px;
	margin-right: -10px;
}

.mdsWidgetContent > div > i {
	vertical-align: middle;
}





.edusharing_rendering_content_wrapper {
	text-align: center;
	margin: 30px 20px;
}

.edusharing_rendering_content_wrapper h3, .edusharing_rendering_content_wrapper h4 {
	color: #fff;
}

.edusharing_rendering_content_wrapper h3 {
	font-size: 120%;
	font-weight: 600;
	color: #ccc;
}

.edusharing_rendering_content_wrapper h4 {
	font-size: 140%;
}

h1.edusharing_rendering_content_title {
	font-size: 120%;
	font-weight: 600;
	color: #fff;
	text-align: center;
}

.edusharing_rendering_content {
	text-align: center;
}

a.edusharing_rendering_content {
	border-radius: 3px;
	padding: 8px 16px;
	text-decoration: none;
	color: #fff;
	background-color: #4F7A98;
	display: inline-block;
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: 600;
}

.edusharing_rendering_content, video, audio {
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	max-width: 100%;
	max-height: calc(100vh - 170px);
}

img.edusharing_rendering_content_preview {
	display: block;
	margin: 20px auto;
	max-width: 100%;
	max-height: 400px;
}

.videoWrapperOuter {
	margin: 0 auto;
}

.es_progressbar_container {
	border: 5px solid #555 !important;
	width: 100%;
	text-align: left !important;
	box-sizing: initial;
	margin: 0 auto;
}

.es_progressbar_progress {
	border-right: 1px solid #fff;
}

.renderservice_message {
	color: #fff;
	font-size: 120%;
}

#edusharing_htmlobject {
	display: block;
	min-height: 400px;
	width: 100%;
	background: #fff;
	max-width: 1024px;
	margin: 0 auto;
	padding: 20px 40px;
	text-align: left;
}

#edusharing_scrolltotop {
	position: fixed;
	bottom: 20px;
	right: 30px;
	display: none;
	width: 45px;
	height: 35px;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201000%201000%22%20enable-background%3D%22new%200%200%201000%201000%22%20xml%3Aspace%3D%22preserve%22%3E%3Cmetadata%3E%20Svg%20Vector%20Icons%20%3A%20http%3A%2F%2Fwww.onlinewebfonts.com%2Ficon%20%3C%2Fmetadata%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M500%2C353L500%2C353l424.7%2C424.6l65.3-65.3L532.7%2C255L500%2C222.4L467.3%2C255L10%2C712.3l65.3%2C65.3L500%2C353z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 20px;
	background-color: #4F7A98;
	cursor: pointer;
	border-radius: 3px;
	color: #fff;
}


@media (max-width: 800px) {
	.edusharing_rendering_metadata_body {
		display: block;
	}

	.mdsGroup {
		display: block;
		padding: 0;
	}
	.edusharing_rendering_content_wrapper h3 {
		font-size: 90%;
		margin: 0.5rem 0rem;
	}

	.edusharing_rendering_content_wrapper h4 {
		font-size: 110%;
		margin: 0.5rem 0rem;
	}

	img.edusharing_rendering_content_preview {
		margin: 10px auto;
	}
	h1.edusharing_rendering_metadata_header_title {
		margin: 1.8rem 0 2rem 20px;
	}
	#edusharing_htmlobject {
		max-width: 100%;
	}

}