.material-icons {
    vertical-align: middle !important;
}

.edusharing_metadata_wrapper {
    float: right;
}

.edusharing_metadata_toggle_button {
    width: 30px; height: 30px; display: inline-block;
    border-left: 1px solid #cdcdcd;
    padding-left: 7px;
    cursor:pointer;
    padding-top: 2px;
    color: #4D799A;

}

.edusharing_metadata {
    position: absolute;
    margin-top: 4px;
    margin-left: -33px;
    padding: 11px 0px;
    z-index: 50;
}

.edusharing_metadata_inner {
    padding: 0 0 20px 0;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
    max-height:500px;
    overflow-y: scroll;
}

.edusharing_metadata:before {
    border-bottom: 15px solid #ccc;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: -4px;
    content: "";
    position: absolute;
    left: 10%;
    width: 0;
    height: 0;
}

.edusharing_metadata:after {
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: -3px;
    content: "";
    position: absolute;
    left: 10%;
    width: 0;
    height: 0;
}

.mdsGroup {
    padding: 0;
}

.mdsGroup:first-child {
    margin-top: -30px;
}

.edusharing_warning {
    display: inline-block;
    background-color: #c6c6c6;
    color: #383838;
    padding: 5px;
    border-radius: 3px;
}

.edusharing_rendering_content_footer {
    display:table;
    width: 100%;
    background: #f6f6f6;
    padding: 12px;
}

.edusharing_rendering_content_footer a, .edusharing_rendering_content_footer a:visited, .edusharing_rendering_content_footer a:focus, .edusharing_rendering_content_footer a:hover {
   color: #4D799A;
}

.edusharing_rendering_content_footer_top {
    display: table-row;
}

.edusharing_rendering_content_footer_bot {
    display: table-row;
}

.edusharing_rendering_content_footer_metadata {
    width: 30px;
    padding: 10px;
}

.edusharing_rendering_content_footer_sequence {
    position: relative;
}

.edusharing_rendering_content_footer_sequence_toggle {
    color: #4D799A;
    cursor:pointer;
}

.edusharing_rendering_content_footer_sequence_toggle:hover {
    text-decoration: underline;
}

.edusharing_rendering_content_footer_sequence ul {
    padding: 12px;
    position: absolute;
    z-index: 49;
    background: #f6f6f6;
    width: calc(100% + 24px);
    margin-left: -12px;
}

.edusharing_rendering_content_footer_sequence ul li{
    list-style: none;
    height: 60px;
    background: #fff;
    font-size: 14px;
    margin: 3px 0;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 3px;
}

.edusharing_rendering_content_footer_sequence ul li a {
    color: #383838;
    text-decoration: none;
    width: 100%;
}

.edusharing_rendering_content_footer_sequence ul li a:hover {
    color: #383838;
    text-decoration: none;
}

.edusharing_rendering_content_footer_sequence ul li img {
    margin: 10px;
}

.edusharing_rendering_content_footer_sequence_showall {
    margin-bottom: 0;
    text-align: right;
    display: inline-block;
    width: 100%;
    margin-top: 8px;
}