
.edusharing_rendering_metadata_body .mdsGroup{
    flex: 1;
    padding: 0 20px;
    min-width: 33.3%;
}
.edusharing_rendering_metadata_body .mdsCaption{
    /* background-color: #fff; */
    border-bottom: 1px solid #6f6f6f;
    color: #6f6f6f;
    padding: 8px 15px;
    font-size: 130%;
    height: auto;
    margin-top: 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.edusharing_rendering_metadata_body .mdsWidgetCaption{
    display: block;
    font-style: italic;
    color: #6f6f6f;
    margin: 15px 0 0 15px;
    line-height: 1.5;
}

.edusharing_rendering_metadata_body .mdsWidgetContent{
    white-space: pre-line;
}

.edusharing_rendering_metadata_body .mdsWidgetContent .mdsValue{
    display: inline-block;
    margin: 3px 0 0 15px;
    line-height: 1.5;
}
.edusharing_rendering_metadata_body .mdsWidgetMultivalue .mdsValue{
    background-color: #DDDDDD;
    border-radius: 18px;
    padding: 3px 10px;
    margin-left: 10px;
    line-height: 1.5;
}

.edusharing_rendering_metadata_body .mds_ccm_lifecyclecontributer_author .mdsValue {
    display: inline-block;
    font-style: italic;
}

.edusharing_rendering_metadata_body .mdsWidgetContent .mdsValue > i {
    vertical-align: middle;
}


.edusharing_rendering_metadata_body .mdsContributorTitle {
    font-weight: 600;
    font-style: normal;
    margin: 25px 0 -10px 0;
    color: #000;
}

.edusharing_rendering_metadata_body .mdsContributorGroup .mdsWidgetCaption,
.edusharing_rendering_metadata_body .mdsContributorGroup .mdsValue{
    margin-left: 0;
    margin-right: 10px;
}

.edusharing_rendering_metadata_body .mds_license img {
    height: 30px;
    width: auto;
}
.edusharing_rendering_metadata_body .mds_license .licenseName {
    font-weight: bold;
}
.edusharing_rendering_metadata_body .mds_license .licenseDescription {
    color: #6f6f6f;
    font-size: 90%;
}

@media (max-width: 900px) {
    .edusharing_rendering_metadata_body {
        display: block;
    }

    .edusharing_rendering_metadata_body .mdsGroup {
        display: block;
        padding: 0;
    }
}
