
.edusharing_rendering_metadata_body .mdsGroup{
    flex: 1;
    padding: 0 20px;
    min-width: 33.3%;
}
.edusharing_rendering_metadata_body .mdsCaption{
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding: 15px 15px;
    font-size: 150%;
    height: 50px;
    margin-top: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.edusharing_rendering_metadata_body .mdsWidgetCaption{
    display: block;
    font-style: italic;
    color: #6f6f6f;
    margin: 25px 0 0 15px;
}

.edusharing_rendering_metadata_body .mdsWidgetContent{
    white-space: pre-line;
}

.edusharing_rendering_metadata_body .mdsWidgetContent > div{
    display: inline-block;
    margin: 7px 0 0 15px;
}
.edusharing_rendering_metadata_body .mdsWidgetMultivalue > div{
    background-color: #DDDDDD;
    border-radius: 999px;
    padding: 3px 10px;
    margin-left: 10px;
}

.edusharing_rendering_metadata_body .mds_ccm_lifecyclecontributer_author > div {
    display: inline-block;
    font-style: italic;
}

.edusharing_rendering_metadata_body .mdsWidgetContent > div > i {
    vertical-align: middle;
}


.edusharing_rendering_metadata_body .mdsContributorTitle {
    font-weight: 600;
    font-style: italic;
    margin: 25px 0 -15px 16px;
    color: #000;
}

.edusharing_rendering_metadata_body .mds_license img {
    height: 30px;
    width: auto;
}

.edusharing_rendering_metadata_body .mds_license .licenseDescription {
    color: #6f6f6f;
    font-size: 90%;
}

@media (max-width: 800px) {
    .edusharing_rendering_metadata_body {
        display: block;
    }

    .edusharing_rendering_metadata_body .mdsGroup {
        display: block;
        padding: 0;
    }
}
