
.edusharing_rendering_metadata_body .mdsGroup{
    flex: 1;
    padding: 0 20px;
    min-width: 25%;
}
.edusharing_rendering_metadata_body .mdsCaption{
    border-bottom: 1px solid #777;
    color: #777;
    padding: 0 12px;
    font-size: 130%;
    height: auto;
    font-weight: normal;
    text-transform: uppercase;
}
.edusharing_rendering_metadata_body .mdsWidgetCaption{
    display: block;
    font-style: italic;
    color: #6f6f6f;
    margin: 15px 0 0 15px;
    line-height: 1.5;
}

.edusharing_rendering_metadata_body .mdsWidgetContent{
    white-space: pre-line;
}

.edusharing_rendering_metadata_body .mdsWidgetContent .mdsValue{
    display: inline-flex;
    margin: 3px 0 0 15px;
    line-height: 1.5;
}
.edusharing_rendering_metadata_body .mdsWidgetMultivalue{
    padding-top: 5px;
    padding-left: 8px;
}
.edusharing_rendering_metadata_body .mdsWidgetMultivalue .mdsValue{
    color: #383838;
    background-color: #F4F4F4;
    border-radius: 16px;
    padding: 3px 10px;
    margin-left: 10px;
    min-height: 32px;
}

.edusharing_rendering_metadata_body .mds_ccm_lifecyclecontributer_author .mdsValue {
    display: inline-block;
    font-style: italic;
}

.edusharing_rendering_metadata_body .mdsWidgetContent .mdsValue > i {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

.edusharing_rendering_metadata_body .mdsWidgetContent .mdsValue > * {
    margin: auto;
}

.edusharing_rendering_metadata_body .mdsContributorTitle {
    font-weight: 600;
    font-style: normal;
    margin-top: 25px;
    color: #000;
}

.edusharing_rendering_metadata_body .mdsContributorGroup .mdsWidgetCaption,
.edusharing_rendering_metadata_body .mdsContributorGroup .mdsValue{
    margin-left: 0;
    margin-right: 10px;
}

.edusharing_rendering_metadata_body .mds_license img {
    height: 30px;
    width: auto;
}
.edusharing_rendering_metadata_body .mds_license .licenseName {
    font-weight: bold;
}
.edusharing_rendering_metadata_body .mds_license .licenseDescription {
    color: #6f6f6f;
    font-size: 90%;
}

@media (max-width: 1400px) {
    .edusharing_rendering_metadata_body .mdsGroup{
        min-width:50%;
    }
}

@media (max-width: 700px) {
    .edusharing_rendering_metadata_body {
        display: block;
    }

    .edusharing_rendering_metadata_body .mdsGroup {
        display: block;
        padding: 0;
    }
}
