<?php

/*
 * Define proxy-setting to be used for HTTP communication 
 */
define('USE_HTTP_PROXY', true);
define('HTTP_PROXY_SNI', true);

define('HTTP_PROXY_HOST', 'proxy.host.domain');
define('HTTP_PROXY_PORT', 8080);
define('HTTP_PROXY_USER', 'username');
define('HTTP_PROXY_PASS', 'password');

