<?php 
/**
 * ONLYOFFICE Document Server is an online office suite comprising viewers and editors for texts, spreadsheets and presentations, 
 * fully compatible with Office Open XML formats: .docx, .xlsx, .pptx and enabling collaborative editing in real time.
 * for more information see: 
 *        https://github.com/ONLYOFFICE/DocumentServer  ===> General information
 *        https://helpcenter.onlyoffice.com/installation/docs-community-index.aspx ===> Installation process
 *        https://api.onlyoffice.com/editors/basic  ===> API documentation
 * 
 * We will use ONLYOFFICE document-server (community edition) for preview our microsoft documents.
 * In order to activate the preview, we need to to give the URI of ONLYOFFICE document-server. 
 * 
 */

// set the URL for access ONLYOFFICE API
define('ONLYOFFICE_DOCUMENT_SERVER_URL',  "https://localhost/"); // example: if document-server is in same server as renderingservice

// set the Logo image default will be edu-sharing logo 
define('LOGO_IMAGE_URL', $MC_URL."/admin/img/edulogo.svg"); 

// set the Logo URL link default will be https://edu-sharing.com/
define('LOGO_LINK_URL', "https://edu-sharing.com/"); 