[application]
; url for client requests (accessible from the internet)
application_url_client=http://127.0.0.1/rendering-service
; url for requests from repository
application_url_repository=http://127.0.0.1:80/rendering-service
; ip of the server
application_host=127.0.0.1
; root directory of the rendering service application
application_root=/var/www/html/rendering-service
; cache directory
application_cache=/var/cache/rendering-service
; save cache directory (optional)
application_cache_save=
; path to the ffmpeg binary
application_ffmpeg=/var/www/html/rendering-service/vendor/lib/converter/ffmpeg

[database]
; driver (mysql or pgsql)
db_driver=mysql
; db host
db_host=localhost
; db port
db_port=3306
; db name
db_name=renderingservice
; db user
db_user=renderingservice
; db password
db_password=renderingservice
;
db_statements=true

[repository]
; url of the repository to fetch properties and content from
repository_url=http://localhost:8080/edu-sharing

